$breakpoints: (
  xs: 320px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1400px,
  xxl: 2560px,
);

.gap-xs {
  --gap: 8px;
  gap: var(--gap);
}

.gap-sm {
  --gap: 16px;
  gap: var(--gap);
}

.gap-md {
  --gap: 20px;
  row-gap: 16px;
  column-gap: var(--gap);
}

.gap-lg {
  --gap: 40px;
  row-gap: 16px;
  column-gap: var(--gap);
}

// FLEXBOX SYSTEM //

.flex {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

@for $i from 12 to 0 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: calc(#{(100 * $i) / 12 + "%"} - var(--gap, 0px));
  }
}
.col-0 {
  display: none;
}

@each $breakpoint, $breakpoint-setting in $breakpoints {
  @media (min-width: #{$breakpoint-setting}) {
    @for $i from 12 to 0 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 auto;
        width: calc(#{(100 * $i) / 12 + "%"} - var(--gap, 0px));
      }
    }
    .col-#{$breakpoint}-0 {
      display: none;
    }
  }
}

// GRID SYSTEM //

.grid {
  display: grid;
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

@each $breakpoint, $breakpoint-setting in $breakpoints {
  @media (min-width: #{$breakpoint-setting}) {
    @for $i from 12 to 0 {
      .span-col-#{$breakpoint}-#{$i} {
        grid-column: span #{$i};
      }
      .span-row-#{$breakpoint}-#{$i} {
        grid-row: span #{$i};
      }
    }
  }
}

@for $i from 12 to 0 {
  .grid-row-#{$i} {
    grid-row: #{$i};
  }

  .grid-col-#{$i} {
    grid-column: #{$i};
  }

  .grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }

  .grid-rows-#{$i} {
    grid-template-rows: repeat(#{$i}, 1fr);
  }
}
