@import url("https://fonts.cdnfonts.com/css/segoe-ui-4");
:root {
  --fluent-primary: #0078d4;
}

*[fluent] {
  font-family: "Segoe UI", sans-serif;
  color: #323130;
  font-weight: 400;
}

label[fluent] {
  line-height: 20px;
  cursor: pointer;
}

input[fluent][type=checkbox][switch] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 45px;
  height: 20px;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
input[fluent][type=checkbox][switch]:checked {
  background: #0078d4;
  border-color: #0078d4;
}
input[fluent][type=checkbox][switch]:checked:before {
  left: 24px;
  background: #fff;
}
input[fluent][type=checkbox][switch]:hover:not(:checked) {
  border-color: rgba(0, 0, 0, 0.8);
}
input[fluent][type=checkbox][switch]:hover:not(:checked)::before {
  background-color: rgba(0, 0, 0, 0.8);
}
input[fluent][type=checkbox][switch]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -1px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(0.8);
  transition: 0.2s;
}
input[fluent][type=checkbox]:not([switch]) {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
input[fluent][type=checkbox]:not([switch]):before {
  content: "";
  width: 75%;
  height: 75%;
  position: absolute;
  top: 2px;
  left: 2px;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--form-control-color);
}
input[fluent][type=checkbox]:not([switch]):hover, input[fluent][type=checkbox]:not([switch]):checked {
  border-color: rgba(0, 0, 0, 0.8);
}
input[fluent][type=checkbox]:not([switch]):hover:before, input[fluent][type=checkbox]:not([switch]):checked:before {
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[fluent][type=checkbox]:not([switch]):not(:checked):hover:before {
  background-color: #605e5c;
}
input[fluent][type=checkbox]:not([switch]):checked {
  background: #0078d4;
  border-color: #0078d4;
}
input[fluent][type=checkbox]:not([switch]):checked:before {
  background-color: #fff;
}
input[fluent][type=radio] {
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
input[fluent][type=radio]:hover, input[fluent][type=radio]:checked {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
input[fluent][type=radio]:hover:before, input[fluent][type=radio]:checked:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 4px;
  left: 4px;
  background-color: #fff;
  border-radius: 5px;
}
input[fluent][type=radio]:not(:checked):hover {
  border-color: #605e5c;
}
input[fluent][type=radio]:not(:checked):hover:before {
  background-color: #605e5c;
}
input[fluent][type=radio]:checked {
  border-color: #0078d4;
}
input[fluent][type=radio]:checked:before {
  background-color: #0078d4;
}
input[fluent][type=button] {
  cursor: pointer;
  position: relative;
  outline: none;
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid rgb(138, 136, 134);
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0px 16px;
  text-decoration: none;
  text-align: center;
  min-width: 80px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
input[fluent][type=button]:hover {
  background-color: rgb(243, 242, 241);
  color: rgb(32, 31, 30);
}
input[fluent][type=button][primary] {
  border: 1px solid rgb(0, 120, 212);
  background-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
input[fluent][type=button][primary]:hover {
  background-color: rgb(16, 110, 190);
  border: 1px solid rgb(16, 110, 190);
  color: rgb(255, 255, 255);
}
input[fluent][type=button][flat] {
  font-weight: 400;
  border: none;
  background-color: transparent;
  color: rgb(0, 120, 212);
}
input[fluent][type=button][flat]:hover {
  color: rgb(16, 110, 190);
  background-color: rgb(243, 242, 241);
}

button[fluent] {
  position: relative;
  outline: none;
  font-family: "Segoe UI", "Segoe UI Web (West European)", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid rgb(138, 136, 134);
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0px 16px;
  text-decoration: none;
  text-align: center;
  min-width: 80px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button[fluent]:hover {
  background-color: rgb(243, 242, 241);
  color: rgb(32, 31, 30);
}
button[fluent][primary] {
  border: 1px solid rgb(0, 120, 212);
  background-color: rgb(0, 120, 212);
  color: rgb(255, 255, 255);
}
button[fluent][primary]:hover {
  background-color: rgb(16, 110, 190);
  border: 1px solid rgb(16, 110, 190);
  color: rgb(255, 255, 255);
}
button[fluent][flat] {
  font-weight: 400;
  background-color: transparent;
  color: rgb(0, 120, 212);
}
button[fluent][flat]:hover {
  color: rgb(16, 110, 190);
  background-color: rgb(243, 242, 241);
}

.tabset[fluent] > input[type=radio].tab-label {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  width: 0;
}
.tabset[fluent] > input[type=radio].tab-label:focus-visible + label {
  outline: 2px solid #0078d4;
  border-radius: 3px;
}
.tabset[fluent] > label {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 15px 17px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 400;
  min-width: 40px;
  border-radius: 2px;
  font-family: "Segoe UI", sans-serif;
}
.tabset[fluent] > label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background: transparent;
}
.tabset[fluent] > label:hover,
.tabset[fluent] > input:focus + label,
.tabset[fluent] > input:checked + label {
  color: inherit;
}
.tabset[fluent] > label:hover {
  background-color: rgba(200, 200, 200, 0.2549019608);
}
.tabset[fluent] > label:hover::after {
  background: transparent;
}
.tabset[fluent] > input:checked + label:hover::after {
  left: 0;
  width: 100%;
}
.tabset[fluent] > input:focus + label::after,
.tabset[fluent] > input:checked + label::after {
  left: 10%;
  width: 80%;
  background: #0078d4;
  transition: 0.5s;
}
.tabset[fluent] > input:checked + label {
  border-color: transparent;
  border-bottom: 2px solid #fff;
  margin-bottom: -1px;
  font-weight: 700;
  padding: 15px 15px;
}
.tabset[fluent] .tab-panel {
  display: none;
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
.tabset[fluent] > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset[fluent] > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset[fluent] > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset[fluent] > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset[fluent] > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset[fluent] > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}/*# sourceMappingURL=fluent.css.map */